/* PublicPosts.css */

/* .posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding: 2rem;
  background-color: #f8f9fa; 
  min-height: 100vh;
} */

/* PublicPosts.css */
.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


